<section>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="text-center">
                                Agregar bodega&nbsp;
                                <span matTooltip="Utiliza esta herramienta para poder cargar puntos de interés en el mapa de los delivery" class="mdi mdi-alert-circle"></span>
                            </h5>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="./assets/images/3XiKXis.jpg">
                        <div class="space-30"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn-block primary-bg-color text-white col-md-4" mat-raised-button color="primary">
                          Cargar punto de interés
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</section>