<div class="container">
    <div class="row">
        <!-- profile client -->
        <div class="col-sm text-center">
            <h5>
                Cliente
            </h5>
            <mat-card>
                <mat-card-header>
                    <div style="margin-left: 35%" mat-card-avatar class="text-center">
                        <img style="width: 8em" class="img-circle" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                    </div>
                    <div class="space-180"></div>
                </mat-card-header>
                <mat-card-title>Carlos Estarita</mat-card-title>
                <mat-card-content>
                    <address>
                    <mat-chip>
                        Teléfono:
                    </mat-chip>123123123 <br>
                    <mat-chip>
                        Estado del servicio:
                    </mat-chip> En proceso <br>
                    <mat-chip>
                        Email:
                    </mat-chip> test@hotmail.com <br>
                  </address>
                    <div class="space-10"></div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- end profile client -->
        <!-- driver -->
        <div class="col-sm">
            <h5 class="text-center">
                Delivery
            </h5>
            <mat-card>
                <mat-card-header>
                    <div style="margin-left: 35%" mat-card-avatar>
                        <img style="width: 8em" class="img-circle" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                    </div>
                    <div class="space-180"></div>
                </mat-card-header>
                <mat-card-title class="text-center">Pedro Hernandez</mat-card-title>
                <mat-card-content>
                    <address class="text-center">
                    <mat-chip>
                        Teléfono:
                    </mat-chip> 123123123 <br>
                    <mat-chip>
                        Estado del servicio:
                    </mat-chip> En proceso <br>
                    <mat-chip>
                        Email:
                    </mat-chip> test@hotmail.com <br>
                    <mat-chip>
                        Vehiculo:
                    </mat-chip> Chevrolet Spark 2007 AQXR <br>
                  </address>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- end driver -->
    </div>
    <div class="space-50"></div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <h5>
                    Ubicación Geografica del reporte
                </h5>
                <mat-card>
                    <img src="./assets/images/3XiKXis.jpg">
                    <div class="space-30"></div>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, possimus! Iste quos, harum magni iusto rerum fuga numquam, praesentium earum libero voluptas eaque repellendus, quisquam quibusdam ipsam rem excepturi adipisci?
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>