<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <h5>
                Editar Hola mundo
            </h5>
            <form>
                <p class="text-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Servicio nuevo</mat-label>
                        <input matInput placeholder="Mecánico">
                        <mat-icon matSuffix>directions_run</mat-icon>
                    </mat-form-field>
                </p>
                <button mat-raised-button class="primary-bg-color btn-block text-white">Actualizar</button>
            </form>
        </div>
    </div>
</div>